## Gabung dan formatting data

### Concat json

In [1]:
import json
import pandas as pd

In [2]:
files = ['train.json', 'test.json', 'validation.json']
combined_data = []

In [3]:
for file in files:
    with open(file, 'r') as f:
        data = json.load(f)
        if isinstance(data, list):
            combined_data.extend(data) # extend jika list
        else:
            combined_data.append(data) # data adalah dict
            
df = pd.DataFrame(combined_data)
df.head()

,author,created_utc,score,permalink,subreddit,body,lang_fastText,label,text
0,liberal_minangnese,1.609055e+09,7,/r/indonesia/comments/kkj01g/mengapa_sentimen_...,indonesia,Lo bilang chinese playing victim tapi lo gasad...,id,0,Lo bilang chinese playing victim tapi lo gasad...
1,IceFl4re,1.592827e+09,140,/r/indonesia/comments/hdq6gx/terjemahannya_nge...,indonesia,"Kadang-kadang sampe aku mikir ""kayaknya buku g...",id,0,"Kadang-kadang sampe aku mikir ""kayaknya buku g..."
2,Winter_Anxiety,1.669217e+09,1,/r/indonesia/comments/z2mmfu/this_fucking_guy_...,indonesia,Bukanya berduka mlh buat konspirasi sendiri,id,0,Bukanya berduka mlh buat konspirasi sendiri
3,spicyrendang,1.617185e+09,6,/r/indonesia/comments/mgkqyi/31_march_2021_dai...,indonesia,"Atta Halilintar pamer di youtube: ""Dasar pamer...",id,0,"Atta Halilintar pamer di youtube: ""Dasar pamer..."
4,Qolapse,1.660572e+09,2,/r/indonesia/comments/woxxfv/bersama_kita_bisa...,indonesia,Pasti lokasinya di kalimantan,id,0,Pasti lokasinya di kalimantan

In [4]:
df1 = df[['text', 'label']]
df1.head()

                                                text  label
0  Lo bilang chinese playing victim tapi lo gasad...      0
1  Kadang-kadang sampe aku mikir "kayaknya buku g...      0
2        Bukanya berduka mlh buat konspirasi sendiri      0
3  Atta Halilintar pamer di youtube: "Dasar pamer...      0
4                      Pasti lokasinya di kalimantan      0

In [5]:
df2 = pd.read_csv('balanced.csv')
df2.rename(columns={'Tweet': 'text', 'Kelas': 'label'}, inplace=True)
df2.head()

                                                text  label
0  #bisnis  #pintar #goblog #BobSadino ! mudah ga...      0
1  #PELAJAR  . tinggal di semenjak oke makin mant...      0
2  #80juta  :D :D .. mulu cepekan masa juta 80 st...      0
3                 !  Indonesia demokrasi dg apa  Ada      0
4  #debatpilpres  :) .. Santai . Jokowi ibu Prabo...      0

In [6]:
len(df1), len(df2)

(14116, 8700)

In [7]:
len(df1[df1['label'] == 0]), len(df2[df2['label'] == 0]), len(df1[df1['label'] == 1]), len(df2[df2['label'] == 1])

(10587, 4350, 3529, 4350)

In [8]:
no_df1 = len(df1[df1['label'] == 0])
no_df2 = len(df2[df2['label'] == 0])
yes_df1 = len(df1[df1['label'] == 1])
yes_df2 = len(df2[df2['label'] == 1])
print(f"Dataset 1 - No: {no_df1}, Yes: {yes_df1}")
print(f"Dataset 2 - No: {no_df2}, Yes: {yes_df2}")

Dataset 1 - No: 10587, Yes: 3529
Dataset 2 - No: 4350, Yes: 4350

In [9]:
# ambil 3529 data dari df1 label 0, dan semua label l
df1_no = df1[df1['label'] == 0].sample(n=3529, random_state=42)
df1_yes = df1[df1['label'] == 1]
new_df1 = pd.concat([df1_no, df1_yes], ignore_index=True)

In [10]:
no_df1_new = len(new_df1[new_df1['label'] == 0])
yes_df1_new = len(new_df1[new_df1['label'] == 1])
print(f"Dataset 1 - No: {no_df1_new}, Yes: {yes_df1_new}")
print(f"Dataset 2 - No: {no_df2}, Yes: {yes_df2}")

Dataset 1 - No: 3529, Yes: 3529
Dataset 2 - No: 4350, Yes: 4350

In [11]:
# gabungkan df1 dan df2
df_combined = pd.concat([new_df1, df2], ignore_index=True)
df_combined.to_csv('balanced_dataset.csv', index=False)

In [13]:
#data terakir, gabung 3 file csv
df3_1 = pd.read_csv('train.csv')
df3_2 = pd.read_csv('test.csv')
df3_3 = pd.read_csv('validation.csv')
df3 = pd.concat([df3_1, df3_2, df3_3], ignore_index=True)
df3.head()

                                               tweet  label
0  <username> <username> <username> <username> <u...      0
1  Beneran pengen tau tanggapan mereka . <usernam...      0
2  Anda anggota DPRD lama <username> tapi mungkin...      0
3  <username> <username> Sekali sekali dea pengen...      0
4  Kamu tau tidak..? Pasti tidak .. Goblok kamu m...      0

In [14]:
no_df3 = len(df3[df3['label'] == 0])
yes_df3 = len(df3[df3['label'] == 1])
print(f"Dataset 3 - No: {no_df3}, Yes: {yes_df3}")

Dataset 3 - No: 2013, Yes: 671

In [19]:
df3_no = df3[df3['label'] == 0].sample(n=671, random_state=42)
df3_yes = df3[df3['label'] == 1]
new_df3 = pd.concat([df3_no, df3_yes], ignore_index=True)
new_df3.rename(columns={'tweet': 'text'}, inplace=True)
new_df3.head()

                                                text  label
0  Beasiswa untuk Indonesia Maju . <hashtag> <has...      0
1              Indonesia penuh keberagaman <hashtag>      0
2  Saya bukan siapa2 Saya kuliah di Muhammadiyah ...      0
3  <username> Soalnya mo dpt g jd mas bro ... ðŸ¤...      0
4  ada yang lebih seram di malam jumat dari chat ...      0

In [20]:
new_df3.to_csv('balanced_dataset_3.csv', index=False)
pd.concat([df_combined, new_df3], ignore_index=True).to_csv('final_balanced_dataset.csv', index=False)